button#add-crop
	| Add Crop
button#crop
	| Crop Image
<canvas id="cnvs" width="1200" height="1000"></canvas>
img#pic(style="display:none;", src="/images?src=https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/36832_1270650466740_4687459_n.jpg")

