#fb-root

.row-fluid
	.span3
		ul.nav.nav-list
			.pics-you
				|Your Pictures
				ul#your-pics.thumbnails
			.pics-friends
			ul#albums.nav-header	
				|Albums
				.pics-friends
			ul#friends.nav-header 
				|Friends
				ul#groups.nav-header

	#collage-wrapper.span9
		//-.navbar
		//- .navbar-inner
		//- 	.container
		//- 		ul#collage-menu-list.nav
					
		#sub-menu 	
		#canvas-container
			<canvas id="collage-canvas"></canvas>
			
