#fb-root

button(id="login") logout
button(id="logout") logout


.row-fluid
	.span3
		ul.nav.nav-list
			.pics-you
				|Your Pictures
				ul#your-pics.thumbnails
			.pics-friends
			ul#albums.nav-header	
				|Albums
				.pics-friends
			ul#friends.nav-header 
				|Friends
				ul#groups.nav-header

	#collage-wrapper.span9
		#slider.button-group
			button.btn.dropdown-toggle(data-toggle="dropdown")
				| Rotate 
				span.caret
			ul.dropdown-menu
				li
					a(href="#") Slider
				li
					a(href="#") Another action	
		.navbar
			.navbar-inner
				.container
					ul#collage-menu-list.nav
						li.menu-item.active(data-action="resize")
							a(href="#") Resize
						li.menu-item(data-action="rotate")
							a(href="#") Rotate
		#sub-menu 	
		#canvas-container
		#rotater
			#rotate-slider.slider
			span#rotate-value	


//- script(src="javascripts/kinetic-v3.10.3.js")
//- script(src="javascripts/eventemitter2.js")
//- script(src="javascripts/client.js")

//- script(src="javascripts/fb-init.js")

