!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src="http://code.jquery.com/jquery-1.7.2.min.js")
		script(src="http:/javascripts/jqueryui-min.js")
		script(src="http:/javascripts/underscore-min.js")
		script(src="http:/javascripts/icanhaz-min.js")
		script(src="/javascripts/bootstrap.js")
	body
		.navbar(class="navbar-fixed-top")
			.navbar-inner
				.container-fluid
					a.brand(href="#") Photo Builder
		.container-fluid!=body
