!!!
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/jqueryui.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/require-full.js",data-main="javascripts/main.js")
		//- script(src="/javascripts/jquery-1.7.2.min.js")
		//- script(src="/javascripts/jqueryui-min.js")
		//- script(src="/javascripts/underscore-min.js")
		//- script(src="/javascripts/icanhaz-min.js")
		//- script(src="/javascripts/bootstrap.js")
		//- script(src="/javascripts/sylvester.js")
	body
		.navbar(class="navbar-fixed-top")
			.navbar-inner
				.container-fluid
					a.brand(href="#") Photo Builder
		.container-fluid!=body
		